<!-- @include _var -->
<!-- @include _head -->
%section.main.colored
  <!-- @include  _main_thankyou -->
%section
  <!-- @include  _forge -->
%section.colored
  <!-- @include  _links -->
<!-- @include _footer -->


