.cta
  .container
    .slogan Learn About How It Was Made
    %a.btn{:href => "http://blog.nuwe.co/articles/2015/5/13/healthhack-slouchpotato-game-blocks-for-unhealthy-habits"} Read Article

    %p.centered A <a href="http://hackbmth.org">Hackbmth</a> Project by <a href="http://twitter.com/r3trosteve">@r3trosteve</a>