.container
  .main-logo
    .logo
      %img{:src => "<!-- @path logo.png -->"}

  .main-content
    .main-content-text
      .slogan
        Thank You!
      .subslogan
        We'll be in touch with more information about getting started very soon

      %a.btn{:href => "<!-- @path index -->"} << Back 
    