.opensource
  .container
    .section-title
      UI Tools. Open Sourced.
    .row
      .column
        .feature
          Handling client side authentication & authorisation
        .feature
          User service <nobr>preferences & priorities</nobr>
        .feature
          Highly customisable

      .column.iphone
        %img{:src => "<!-- @path iphone.png -->"}

      .column
        .feature
          Native view controllers
        .feature
          Simple and easy quickstart
        .feature
          Lovely gestures


    .btn.btn-git Download iOS SDK